@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: poppins;
    margin-top: 10px;
}
.attempted{
    /* background-color: black;
    color: white; */
    border: 1px solid black;
    margin-bottom: 30px;
}
.attempted h5{
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-top: 7px;
    height: 40px;
    text-align: center;
    
}
.part{
    width: 900px;
}
.attempted1 h5{
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-top: 7px;
    height: 40px;
    text-align: center;
    
}
.attempted1 label{
    font-size: 18px;
}
.btn1{
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    width: 120px;
    align-items: cnter;
    /* margin-left: 430px; */
}
.btn-container{
    text-align: center;
}
.above50{
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    width: 300px;
    align-items: cnter;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* @media screen and (max-width: 800px){
    .part{
        width: 1000px;
    }
} */
@media screen and (max-width: 600px){
    .part{
        width: 480px;
    }
}